{% extends 'base.html.twig' %}

{% block body %}
    <div id="page">
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="gtco-logo"><a href="index.html">Foodify.</a></div>
                </div>
                <div class="col-xs-8 text-center menu-1">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li class="has-dropdown">
                            <a href="services.html">Services</a>
                            <ul class="dropdown">
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li><a href="#">Branding</a></li>
                                <li><a href="#">API</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Tools</a>
                            <ul class="dropdown">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">Sass</a></li>
                                <li><a href="#">jQuery</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-xs-2 text-right hidden-xs menu-2">
                    <ul>
                        <li class="btn-cta"><a href="#"><span>Login</span></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <div class="col-md-12">
                                <div class="pull-center">
                                    <h1 style="font-size: 28px;color:white;">Waffles are just pancakes with
                                        abs.</h1>
                                </div>
                            </div>
                            <br><br>

                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select class="form-control" id="exampleSelect1"
                                                style="background-color: white;">
                                            <option>City</option>
                                            <option>Vilnius</option>
                                            <option>Kaunas</option>
                                            <option>Klaipėda</option>
                                            <option>Šiauliai</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Your favorite food..."
                                               style="background-color: white;">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a href="{{ path('map') }}" class="btn btn-success">Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}