{% extends 'base.html.twig' %}

{% block body %}
    <div id="page">
        <nav class="gtco-nav" role="navigation">
        </nav>

        <header id="gtco-header" class="gtco-cover" role="banner">
            <div class="gtco-container">

            </div>
        </header>

        <div class="col-md-12">
            {{ ivory_google_map(map) }}
            {{ ivory_google_api([map]) }}
        </div>
{% endblock %}